*{box-sizing: border-box;}
.container{
	position: relative;
	height: 500px;
	background-image: url(../img/qahvaxona.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: monospace;
}
.container h1{
	margin: 0;
	padding: 63px 580px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: white;
	font-size: 40px;
}
.asos{
	position: absolute;
	top: 230px;
	left: 300px;
	width: 800px;
	min-height: 300px;
	background-color: #fafdfa;
}

         /*menu*/

.menu-ul{
    position: absolute;
    top: -25px;
    left: 60px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
}
.menu-ul li{
	display: inline-block;
    padding: 10px 39px;
    background-color: #fbfbf7;
    font-size: 20px;
    box-shadow: 2px 2px 5px 0 #cec5c5;
}
.menu-ul-li{
	border-right: 1px solid #101010;
}

         /*qahvaxona-top*/

.qahvaxona-top{
	padding: 60px 40px;
	overflow: hidden; 
}
.qahvaxona-top p{
	margin: 0;
	padding: 20px 0 0 320px;
	font-size: 16px;
	font-weight: bold;
	text-align: justify;
}
.qahvaxona-top-img{
	float: left;
	width: 300px;

}

.asos-hr img{
    margin: 0 275px;
	width: 250px;
    height: 60px;
}


		/*shinam-alo-xotira*/

.shinam-alo-xotira{
	font-size: 0;
}

.oxirgi{margin: 0; }
.shinam{
	display: inline-block;
	margin: 0 8px;
	width: 250px;
	min-height: 100px;
	font-size: 16px;
}
.shinam img{
	width: 250px;
}
.shinam span{
	font-size: 40px;
	color: yellow;
}
.shinam h2{
	font-size: 30px;
}

		/*menu-img*/
.menu-img{
	margin: 20px 0;
	width: 800px;
	height: 200px;
	letter-spacing: 2px;
	background-image: url(../img/menu-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.menu-img h2{
	margin: 0;
    font-size: 60px;
    padding-top: 55px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.menu-img::before{
	position: absolute;
	content: '';
	display: inline-block;
	width: 820px;
	height: 80px;
	background-image: url(../img/ustki.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.menu-img::after{
	position: absolute;
    content: '';
    display: inline-block;
    width: 820px;
    height: 103px;
    background-image: url(../img/pastki.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

		/*qahvalar*/

.qahva-nomi{
	margin: 50px;
	overflow: hidden;
	box-shadow: 0 5px 5px 0 #9E9E9E;
}
.qahva-nomi img{
	float: left;
	width: 300px;
	height: 200px;
}
.qahva-nomi p{
	margin: 0;
	padding: 0 10px 0 315px;
}
.qahva-nomi h2{
	margin: 0;
	padding: 20px 10px 20px 315px;
	text-transform: uppercase;
}


.qahva-nomlar{
	margin: 50px;
	overflow: hidden;
	box-shadow: 0 5px 5px 0 #9E9E9E;
}
.qahva-nomlar img{
	float: right;
	width: 300px;
	height: 200px;
}
.qahva-nomlar p{
	margin: 0;
	padding: 0 15px;
}
.qahva-nomlar h2{
	margin: 0;
	padding: 20px 15px;
	text-transform: uppercase;
}


		/*table*/
.narxlar{
	margin: 25px auto;
	width: 500px;
	height: 300px;
	border: 1px solid black;
	border-collapse: collapse;
}
.narxlar caption{
    padding: 30px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}
.narxlar td{
	font-size: 20px;
	font-style: italic;
	padding: 0 5px;
	border-bottom: 1px solid black;
}
.dollor{
	text-align: right;
}

			/*form-elementlar*/
.form-elementlar{
	margin: 50px 150px;
}
.form-elementlar h2{
	text-align: center;
	font-size: 40px;
}
.elementlar{
	margin: 20px 0;
}
.names{
	font-weight: bold;
	font-size: 20px;
}
.name{
	margin-top: 3px;
	width: 500px;
	height: 30px;
}
.yuborish{
	width: 500px;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
	background-color: yellow;
}

		/*footer*/
.footer{
	padding: 20px;
	background-color: #3d3d39;
	overflow: auto;
}
iframe{
	float: right;
	width: 450px;
	height: 340px;
	background-color: white;
}
.sahifa-link{
	margin: 0;padding: 0;
	list-style-type: none;
}
.sahifa-link li{
	padding: 5px 0;
}
.footer h3{
	padding: 0 400px 0 0;
	color: white;
}
.footer p{
	padding: 0 400px 0 0;
	color: white;
}
.footer a{
	color: yellow;
	text-decoration: none;
}
.fa,.fab{
	color: green;
}